.navbar {
  margin-bottom: 2rem;
}

.flex {
  display: flex;
  flex-direction: row;
}

.info {
  margin-left: 15px;
  font-size: 20px;
}

.img {
  display: flex;
  align-self: flex-start;
  width: 400px;
  height: auto;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2;
  }
}
/* 3 колонки на md */
@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 3;
    column-count: 3;
  }
}
/* 4 колонки на lg и xl */
@media (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 4;
    column-count: 4;
  }
}
